/*#0D0C07 #A69E94*/
html {
    overflow-x: hidden;
}

body {
    line-height: 1.7;
    color: #0D0C07 !important;
    font-weight: 300;
    font-size: 1rem;
    background: #fff;
    font-family: "Julius Sans One", sans-serif; }

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.site-navbar {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.site-navbar .site-logo {
    float: left;
    position: relative;
}
.site-navbar .site-logo a {
    text-transform: uppercase;
    color: #F22233;
    font-family: 'Julius Sans One', sans-serif;
}
.site-navbar ul li a.active {
    color: #fff !important;
}
