/*#0D0C07 #A69E94*/
html {
    overflow-x: hidden;
}
a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.site-navbar {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.site-navbar .site-logo {
    float: left;
    position: relative;
}
.site-navbar .site-logo a {
    text-transform: uppercase;
    color: #F22233;
    font-family: 'Julius Sans One', sans-serif;
}
